.main_wrapper {
  position: relative;

  .dropdown_wrapper {
    box-sizing: border-box;
    display: none;
    background-color: #FAFAFA;
    border-radius: 4px;
    border: 1px solid #CCC;
    width: 100%;
    transition-duration: 0.3s;
  }

  .visible {
    display: block;
  }
}

