.card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1 1 250px;
  padding: 16px;
  border-radius: 8px;
  background: #EAEAEA;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition-duration: 0.3s;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }

  img {
    border-radius: 8px;
  }

  .info_wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: start;

    h2 {
      margin: 0;
    }

    p{
      margin: 0;
      font-size: 16px;
    }

    .link {
      text-decoration: none;
    }
  }
}