.card {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 100%;
  gap: 16px;
  padding: 16px;
  border-radius: 8px;
  background: #EAEAEA;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition-duration: 0.3s;

  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    img {
      border-radius: 8px;
    }
    .location {
      display: flex;
      flex-wrap: wrap;
      gap: 4px;

      & > div {
        pointer-events: none;
      }
    }
  }

  .description {
    p {
      color: #666;
      line-height: 22px;
    }
  }

  .services {
    .services_list {
      display: flex;
      flex-wrap: wrap;

      & > div {
        pointer-events: none;
        min-width: 40px;
        text-transform: capitalize;
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-top: 2px solid #C1C1C155;
    padding: 12px 0;

    .price {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 8px;
      flex-wrap: wrap;
    }
  }

  h2 {
    margin: 0;
  }

  h3 {
    margin: 0;
    font-weight: 500;
  }

  p {
    margin: 0;
    font-size: 16px;
  }

}