.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  border-radius: 8px;
  border: 1px solid #ccc;
  gap: 25px;
  width: 700px;
  padding: 25px;
  margin: 0 auto;
}